/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

 html {
        height: 100%;
      }

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#footer a {
    color: #fffeeb;
}
#infoSearch {
	position: absolute;
	top: 80px;
	left:10px;
    color: #B5B5B5;
}
#footer {
    border-radius: 3px 3px 3px 3px;
    bottom: 0px;
    font-size: 11px;
    padding: 10px;
    color: #E6E6E6;
    position: absolute;
    right: 150px;
}
#footerEl{
	opacity: 0;
}
#hackFb {
	position: absolute;
    right: 10px;
    bottom: 4px;
}
body {
	font: 12px verdana, helvetica, arial;
	background-color: black;
	color: #e0e0e0;
}

.callToaction {
	border: 1px solid #af950a;
	background-image: -moz-linear-gradient(top, #ebca14, #f1da5c);
	background-image: -webkit-gradient(linear, center top, center bottom, from(#ebca14), to(#f1da5c) );
	background-image: -o-linear-gradient(top, #ebca14, #f1da5c);
	background-image: linear-gradient(top, #ebca14, #f1da5c);
	cursor: pointer;
	font-weight: bold;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #343434;
}

.callToaction:hover {
	box-shadow: 0 0 3px lightgrey;
	-moz-box-shadow: 0 0 3px lightgrey;
	-webkit-box-shadow: 0 0 3px lightgrey;
	opacity: 1;
}

.callToaction:active {
	box-shadow: 0 0 3px lightgrey;
	-moz-box-shadow: 0 0 3px lightgrey;
	-webkit-box-shadow: 0 0 3px lightgrey;
	border: 2px solid #af950a;
}

header {
	
}
header input:focus {
	opacity: 1;
	color: #6B6B6B;
}
header input {
	color: #6B6B6B;
	opacity: 0.8;
	font: 15px verdana, helvetica, arial;
	height: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10px;
}

header input:first-child {
	margin-left: 10px;
}

input.field {
	border: 0;
	width: 150px;
	float: left;
	border: 1px solid lightgrey;
	box-shadow: 0 0 5px lightgrey inset;
	-moz-box-shadow: 0 0 5px lightgrey inset;
	-webkit-box-shadow: 0 0 5px lightgrey inset;
	margin-right: 10px;
	color: lightgrey;
	background-color: #f9f9f9;
}

.contactPicto div.popup {
	display: none;
	margin-top: 18px;
	text-decoration: none;
	background-color: white;
	color: #414141;
	z-index: 10;
	padding: 0 2px;
	border: 1px solid #8E8E8E;
	width:150px;
}

.contactPicto:hover div.popup {
	display: block;
	position:absolute;
	right:10px;
	margin-top:35px;
}

.searchButton {
	width: 100px;
	height: 25px;
}
#loader {
	opacity: 0;
	display: none;
	margin: 5px 0px 0px 10px; 
	position: absolute;
}
#header {
	z-index: -2;	
}
#container {
	position: absolute;
	top: 0px;
	z-index: -1;
}
#connect {
	font-size: 14px;
	z-index: 9000;
	width: 510px;
	margin: auto;
	background-color: white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 0 10px #cdcbcb;
	-moz-box-shadow: 0 0 10px #cdcbcb;
	-webkit-box-shadow: 0 0 10px #cdcbcb;
	border-radius: 5px;
	height: 320px;
	margin-top: 80px;
	background: url(../images/decoConnect.png) no-repeat bottom right,
		url(../images/connectionBackground.png) repeat;
}

#connect h1 {
	width: 265px;
	height: 48px;
	background: url(../images/viadeoGeo.png) no-repeat;
	text-indent: -9999px;
	margin: 20px 130px;
	float: left;
}

#connect p {
	padding: 0 40px;
}

.Start3D {
	font-size: 20px;
	width: 180px;
	height: 35px;
	float: right;
}
.title {
    color: #818181;
    font-size: 12px;
}


#cursor {
	position: absolute;
	width: 20px;	
	height: 20px;
	top: -1px;
	background:	url(../images/cursor.png) no-repeat;
	left: 200px;
	opacity: 0;
	z-index: 99999;
}

#timeLineContainer {
	width: 100%;
	height: 75px;
	bottom: 0px;
	position: absolute;
	text-align: center;
}
#timeLine {
	width: 85%;
	margin: auto;
}
#timeLineBar {
	background:	url(../images/arrow.png) right #5c4d4d ;
	height: 15px;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border: 1px solid #540000;
}

.albumContainer {
	position: absolute;
	height: 15px;
	cursor: pointer;
	border-radius: 10px; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	opacity: 0.8;
	text-align: left;
}
.album {
	opacity: 1 !important;
	font-family: AngelinaRegular, sans-serif;
	-webkit-transform: rotate(-40deg); 
	-moz-transform: rotate(-40deg);
	width: 120px;
	overflow: hidden;
	position: relative;
	top: -130px;
	left: -7px;
	border-bottom: 1px solid #540000;
	text-align: left;
	cursor: pointer;
	font-size: 2.1em;
}

.albumV {
	width: 10px;
	height: 21px;
	left: 5px;
	top: -46px;	
	position: relative;
	border-right: 1px solid #540000;
	cursor: pointer;
}
.albumPoint {
	top: -15px;	
	left: 10px;
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	cursor: pointer;
}

.albumImg {
	position: absolute;
	border: 2px solid #e0e0e0;
	top: 30px;
	left: 0px;
	width: 52px;
	height: 38px;
}


@font-face {
    font-family: 'JustTheWayYouAreRegular';
    src: url('../fonts/justthewayyouare-webfont.eot');
    src: url('../fonts/justthewayyouare-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/justthewayyouare-webfont.woff') format('woff'),
         url('../fonts/justthewayyouare-webfont.ttf') format('truetype'),
         url('../fonts/justthewayyouare-webfont.svg#JustTheWayYouAreRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AngelinaRegular';
    src: url('../fonts/angelina-webfont.eot');
    src: url('../fonts/angelina-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/angelina-webfont.woff') format('woff'),
         url('../fonts/angelina-webfont.svg#AngelinaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* url('../fonts/justthewayyouare-webfont.ttf') format('truetype'), */







	#tinyalert{
		position: fixed;
		max-height:100%;
		overflow: hidden;
		font:12px Arial, sans-serif;
		padding-bottom: 10px;
	}
	
	#tinyalert.tr{top:0;right:0;}
	#tinyalert.tl{top:0;left:8px;}
	#tinyalert.br{bottom:0;right:0;}
	#tinyalert.bl{bottom:0;left:8px;}
	
	/* Basic block */
	#tinyalert > div{
		width: 226px;
		height: 70px;
		margin: 8px 8px 0 0;
		-moz-border-radius: 7px;
		-webkit-border-radius: 7px;
		border-radius: 7px;
		cursor: pointer;
		-moz-box-shadow: 1px 1px 3px #c8c8c8;
		-webkit-box-shadow: 1px 1px 3px #c8c8c8;
		box-shadow: 1px 1px 3px #c8c8c8;
		position: relative;
	}
	
	#tinyalert span{
		display: block;
		margin: 5px 0 0 5px;
		width: 195px;
	}
	span.tatitle{font-weight: bold;}
	#tinyalert img{
		position: absolute;
		right:5px;
		top:5px;
	}
	
	/* Gray skin */
	#tinyalert > div.gray {
		background-color: #ABABAB;
		border: 1px solid #9c9c9c;
		background:	url(../images/connectionBackground.png) repeat;
	}
	
	#tinyalert > div.gray > span.tatitle{
		color: #292929;
		text-shadow: #ABABAB 0 1px 0;
	}
	
	#tinyalert > div.gray > span.tamsg{
		color: #3d3d3d;
		text-shadow: #B3B3B3 0 1px 0;
	}

	
	